@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0;
    padding:0;                      
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style:none;
  }
  .header-container{
      width: 100%;
      height: 15%;
      background-color: white;
      position: fixed;
      right: 0;
      top: 0;
  }
.portflow{
  display: flex;
  align-items: flex-start;
  margin-left: 30px;
}
ul{
    padding:1vw;
    display:flex;
    justify-content: space-between;
    margin-left: 700px;
    color:grey;
}
  li:hover{
    cursor:pointer;
    color: darkblue;
  }
.orange{
    width: 50%;
    display: flex;
    align-items: center
}
.main-container{
    width: 100%;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
div{
    width: 26%;
    margin-bottom: 30px;
    display: flex;
    margin-left: 30px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
  background-color: grey

}
.icons{
  display: flex;
  margin-right: 2vh;
}